@Html.DevExpress().GridView(settings => {
    settings.Name = "GridView";
    settings.KeyFieldName = "PersonID";
    settings.CallbackRouteValues = new { Controller = "Home", Action = "GridViewPartial" };

    settings.SettingsEditing.Mode = GridViewEditingMode.Inline;
    settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Home", Action = "EditingAddNew" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Home", Action = "EditingUpdate" };
    settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Home", Action = "EditingDelete" };

    settings.ControlStyle.CssClass = "GridViewRootClassName";
    
    /*Command Column Emulation*/
    settings.Columns.Add(column => {
        column.Caption = "#";

        /*DataItemTemplate*/
        /*New - Edit - Delete Buttons*/
        column.SetDataItemTemplateContent(c => {
            ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-plus\" onclick=\"{0}.AddNewRow();\"></span>", settings.Name));

            ViewContext.Writer.Write("&nbsp;");

            ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-pencil\" onclick=\"{0}.StartEditRow('{1}');\"></span>", settings.Name, c.VisibleIndex));

            ViewContext.Writer.Write("&nbsp;");

            ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-remove\" onclick=\"{0}.DeleteRow('{1}');\"></span>", settings.Name, c.VisibleIndex));

        });
        /*DataItemTemplate*/

        /*EditItemTemplate*/
        column.SetEditItemTemplateContent(c => {
            ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-ok\" onclick=\"{0}.UpdateEdit();\"></span>", settings.Name));

            ViewContext.Writer.Write("&nbsp;");

            ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-repeat\" onclick=\"{0}.CancelEdit();\"></span>", settings.Name));
        });
        /*EditItemTemplate*/

    });
    /*Command Column Emulation*/

    settings.Columns.Add("FirstName");
    settings.Columns.Add("MiddleName");
    settings.Columns.Add("LastName");

    settings.CellEditorInitialize = (s, e) => {
        ASPxEdit editor = (ASPxEdit)e.Editor;
        editor.ValidationSettings.Display = Display.Dynamic;
    };
}).Bind(Model).GetHtml()